# FastAPI
fastapi
uvicorn[standard]
httpx
aiohttp

# Database
sqlalchemy
psycopg2-binary
alembic

# Cache
redis

# Settings management
pydantic
pydantic-settings

# For async tasks
celery

# Testing
pytest
